## ignore .env
/env/*
## ignore node_modules
/node_modules
## ignore images
/images/*
/uploads/*
/videos/*
/error/*
# Ignore les fichiers de l'environnement virtuel
venv/
.venv/
env/
.env/
ENV/
.ENV/
env.bak/
.env.bak/