@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&family=Lato&family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import "./utils/variable";
@import "./components/background_animation";
@import "./components/animation";
@import "./components/toggle";
@import "./components/progressBar";
@import "./components/square_card";
@import "./components/long_card";
@import "./components/card_picture";
@import "./components/contextMenu";
@import "./components/input";
@import "./components/badge";
@import "../components/Select/Select.scss";

html {
  color-scheme: light;
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #868686;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #525252;
  }
}
html[data-theme="dark"] {
  color-scheme: dark;
  &::-webkit-scrollbar-track {
    background-color: rgb(5, 5, 5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff4d;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff80;
  }
}
html ::-webkit-scrollbar-button :start :decrement {
  display: block;
}

html ::-webkit-scrollbar-button :end :increment {
  display: block;
}
:root {
  background: rgb(245, 245, 245);
  //--s: 100px; /* control the size */
  //--c1: #dbdbdb;
  //--c2: #f1f1f1;
  //
  //--_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
  //  var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
  //  var(--c1) 76% 84%, var(--c2) 86% 94%;
  //background: radial-gradient(
  //    100% 100% at 100% 0,
  //    var(--c1) 4%,
  //    var(--_g),
  //    #c9c9c988 96%,
  //    #d3d3d300
  //  ),
  //  radial-gradient(
  //      100% 100% at 0 100%,
  //      #d3d3d300,
  //      #c9c9c988 4%,
  //      var(--_g),
  //      var(--c1) 96%
  //    )
  //    var(--c1);
  //background-size: var(--s) var(--s);
}
:root[data-theme="dark"] {
  background: rgb(0, 0, 0);
  //--s: 100px; /* control the size */
  //--c1: #050505;
  //--c2: #000000;
  //
  //--_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
  //  var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
  //  var(--c1) 76% 84%, var(--c2) 86% 94%;
  //background: radial-gradient(
  //    100% 100% at 100% 0,
  //    var(--c1) 4%,
  //    var(--_g),
  //    #0008 96%,
  //    #0000
  //  ),
  //  radial-gradient(
  //      100% 100% at 0 100%,
  //      #0000,
  //      #0008 4%,
  //      var(--_g),
  //      var(--c1) 96%
  //    )
  //    var(--c1);
  //background-size: var(--s) var(--s);
}
.textLoto {
  font-family: "Honk", sans-serif;
}
.textBungeeSpice {
  font-family: "Bungee Spice", sans-serif;
}
.logo_event {
  width: "100%";
  height: 30px;
  object-fit: contain;
}
body {
  //background-position: center;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-attachment: fixed;

  margin: auto;
  font-family: "Lato", sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //overflow-x: hidden;
}
.Non-functional {
  background-color: rgba(255, 187, 0);
  color: #000000;
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  font-weight: 900;
  padding: 4px;
}
.main {
  padding-top: 50px;
}
#tsparticles {
  position: fixed;
  z-index: 0;
}
.select {
  color: black;
}
.text {
  color: $text_black;
}
.text[data-theme="dark"] {
  color: $text_white;
}

// container
.cter_sectProfil {
  position: sticky;
  margin-top: -150px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #ffffff, #ffffff, transparent);
}
.cter_sectProfil[data-theme="dark"] {
  background: linear-gradient(to top, #000000, #000000, transparent);
}
.ctent_artiProfil {
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: end;
  max-width: 1100px;
  //border-radius: 15px;
  padding-bottom: 80px;
  padding-top: 10px;
}
.shadowbox {
  filter: drop-shadow(0 0 0.2rem #000000);
}
.cter_sect {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.ctent_arti {
  z-index: 100;
  overflow: hidden;
  display: flex;
  width: 98%;
  max-width: 1800px;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding-bottom: 10px;
  color: #000000;
  background: #ffffffe6;
}
.ctent_arti[data-theme="dark"] {
  color: #fff;
  background: rgba(15, 15, 15, 0.9);
}
.ctent_artiMiniProfil {
  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 1800px;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding-bottom: 10px;
  color: #000000;
  background-color: #fff;
}
.ctent_artiMiniProfil[data-theme="dark"] {
  color: #fff;
  background: #161616;
}
.rowDoubleposition {
  z-index: 10;
  display: flex;
  width: 98%;
  max-width: 1800px;
  margin-top: 30px;
  justify-content: space-between;
}
.rowDoublepositionContent {
  overflow: hidden;
  display: flex;
  width: 49.5%;
  max-width: 1800px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  padding-bottom: 10px;
  color: #000000;
  background: rgba(255, 255, 255, 0.9);
}
.rowDoublepositionContent[data-theme="dark"] {
  color: #fff;
  background: rgba(15, 15, 15, 0.9);
}
.rowDoublepositionContentFile {
  overflow: hidden;
  display: flex;
  width: 70%;
  height: auto;
  max-height: 900px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  padding-bottom: 10px;
  color: #000000;
  background: rgba(255, 255, 255, 0.9);
}
.rowDoublepositionContentFile[data-theme="dark"] {
  color: #fff;
  background: rgba(15, 15, 15, 0.9);
}
.container_imgShow {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.CoverImage {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  //max-height: 1000px;
  width: 100%;
  display: block;
  border-radius: 10px;
}
.FlexEmbed {
  display: block;
  overflow: hidden;
  position: relative;
}
.FlexEmbed--2by1:before {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.img_Cover {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  transition: 500ms;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile_picture_button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -60px;
}
.Profile_picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.overlay_interest_Profile_picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;

  & > div {
    display: none;
  }

  &[data-hidden="true"] {
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.3);
    }
    &:hover > div {
      display: initial;
    }
  }
}

.content_mess.active {
  display: flex;
  flex-direction: row-reverse;
}
.container_mess {
  margin-top: 10px;
  border-radius: 15px;
  //background: #f3f3f3;
  height: 100%;
  min-height: 200px;
  max-height: 400px;
  width: 90%;
  padding-top: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
.container_mess[data-theme="dark"] {
  background: #0e0e0e;
}
.container_comment {
  margin-top: 10px;
  border-radius: 5px;
  background: #ffffff;
  height: 100%;
  min-height: 100px;
  max-height: 400px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  user-select: text;
}
.container_comment[data-theme="dark"] {
  background: #0e0e0e;
}
.message {
  color: #000000;
  margin-left: 10px;
  width: max-content;
  max-width: 500px;
  word-wrap: break-word;
  font-size: 18px;
  font-weight: 500;
}
.message[data-theme="dark"] {
  color: #fff;
}
.message > p {
  margin: 0px;
}
//.container_mess::-webkit-scrollbar {
//  background-color: transparent;
//  width: 14px;
//}
//.container_mess::-webkit-scrollbar-thumb {
//  background-color: rgba(white, 0.3);
//
//  &:hover {
//    background-color: rgba(white, 0.5);
//  }
//}
.container_bouton_free {
  border-radius: 5px;
  background-color: $secondary;
  overflow: hidden;
  color: #000000;
  background: #fff;
}
.container_bouton_free[data-theme="default"] {
  color: #000000;
  background: #fff;
}
.container_bouton_free[data-theme="dark"] {
  color: #fff;
  background: #131313;
}
.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.7);
  //border-radius: 50px;
  &:hover {
    background-color: rgba(122, 122, 122, 0.9);
  }
}
.container_img_fullScreen {
  border-radius: 5px;
  overflow: hidden;
  width: max-content;
  margin-bottom: -3%;
  display: flex;
  align-items: center;
}
.pagination {
  width: 100%;
  max-width: max-content;
  font-size: 18px;
  border-radius: 25px;
  list-style: none;
  display: flex;
}
.pagination li a {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    background-color: rgba(156, 156, 156, 0.24);
  }
}
.pagination_link {
  background: rgba(156, 156, 156, 0.24);
}
.pagination_link {
  text-decoration: none;
}
.pagination_link--active {
  border-radius: 50px;
  background-color: rgba(156, 156, 156, 0.24);
}
.imgCardArticle {
  transition: 300ms;
  &:hover {
    opacity: 0.5;
  }
}
.follow {
  margin-top: 40px;
}

.follow a {
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}
.displayPc {
  display: initial;
}
.displayMoblie {
  display: none;
}
@media all and (max-width: 980px) {
  .displayPc {
    display: none;
  }
  .displayMoblie {
    display: initial;
  }
  .Non-functional {
    background-color: rgba(255, 187, 0);
    color: #000000;
    text-align: center;
    font-size: 10px;
    border-radius: 15px;
    font-weight: 900;
    padding: 5px;
  }
  .title_color {
    font-size: 16px;
  }
  .cter_sectProfil {
    position: sticky;
    margin-top: -60px;
    font-size: 14px;
    bottom: 0px;
  }
  .rowDoubleposition {
    display: flex;
    flex-direction: column;
  }
  .rowDoublepositionContent {
    width: 100%;
    margin-bottom: 20px;
  }
  .rowDoublepositionContentFile {
    width: 100%;
    margin-bottom: 20px;
  }
  .Profile_picture_button {
    display: flex;
    flex-direction: row-reverse;
    margin-right: -20px;
  }
  .cter_sectProfil {
    position: initial;
    display: flex;
    justify-content: center;
    background: #ffffff;
  }
  .cter_sectProfil[data-theme="dark"] {
    background: #000000;
  }
  .ctent_artiProfil {
    height: 290px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .Profile_picture {
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }
  .overlay_interest_Profile_picture {
    width: 120px;
    height: 120px;
  }
  .container_img_fullScreen {
    border-radius: 15px;
    overflow: hidden;
    width: max-content;
    flex-direction: column;
    height: 80%;
    overflow: overlay;
    margin-bottom: -15%;
  }
  .logo_event {
    width: "100%";
    height: 30px;
    object-fit: contain;
  }
}
