@import "../utils/animation_keyframes";

.image-container-animation {
  $timer: 250ms;
  $animation: swipe-mobile;

  animation: $animation $timer ease-in-out;
  -moz-animation: $animation $timer ease-in-out; /* Firefox */
  -webkit-animation: $animation $timer ease-in-out; /* Safari et Chrome */
  -o-animation: $animation $timer ease-in-out; /* Opera */
}
.open-err-animation {
  $timer: 500ms;
  $animation: err-animation;

  animation: $animation $timer ease-in-out;
  -moz-animation: $animation $timer ease-in-out; /* Firefox */
  -webkit-animation: $animation $timer ease-in-out; /* Safari et Chrome */
  -o-animation: $animation $timer ease-in-out; /* Opera */
}
.open-element-page-melted {
  $timer: 300ms;
  $animation: animation-melted;

  animation: $animation $timer ease-in-out;
  -moz-animation: $animation $timer ease-in-out; /* Firefox */
  -webkit-animation: $animation $timer ease-in-out; /* Safari et Chrome */
  -o-animation: $animation $timer ease-in-out; /* Opera */
}
.open-element-page-side-left {
  $timer: 250ms;
  $animation: animation-open-element-page-side-left;

  animation: $animation $timer ease-in-out;
  -moz-animation: $animation $timer ease-in-out; /* Firefox */
  -webkit-animation: $animation $timer ease-in-out; /* Safari et Chrome */
  -o-animation: $animation $timer ease-in-out; /* Opera */
}
.close-element-page-side-left {
  $timer: 300ms;
  $animation: animation-close-element-page-side-left;

  animation: $animation $timer ease-in-out;
  -moz-animation: $animation $timer ease-in-out; /* Firefox */
  -webkit-animation: $animation $timer ease-in-out; /* Safari et Chrome */
  -o-animation: $animation $timer ease-in-out; /* Opera */
}
.open-element-page-side-right {
  $timer: 250ms;
  $animation: animation-open-element-page-side-right;

  animation: $animation $timer ease-in-out;
  -moz-animation: $animation $timer ease-in-out; /* Firefox */
  -webkit-animation: $animation $timer ease-in-out; /* Safari et Chrome */
  -o-animation: $animation $timer ease-in-out;
}
.close-element-page-side-right {
  $timer: 300ms;
  $animation: animation-close-element-page-side-right;

  animation: $animation $timer ease-in-out;
  -moz-animation: $animation $timer ease-in-out; /* Firefox */
  -webkit-animation: $animation $timer ease-in-out; /* Safari et Chrome */
  -o-animation: $animation $timer ease-in-out;
}
.rotate {
  $timer: 1.5s;
  $animation: loading-rotate-refresh-arrows;

  animation: $animation $timer linear infinite;
  -moz-animation: $animation $timer linear infinite; /* Firefox */
  -webkit-animation: $animation $timer linear infinite; /* Safari et Chrome */
  -o-animation: $animation $timer linear infinite;
}
.boxBounce {
  $timer: 1.5s;
  $animation: bounce;

  animation: $animation $timer infinite;
  -moz-animation: $animation $timer infinite; /* Firefox */
  -webkit-animation: $animation $timer infinite; /* Safari et Chrome */
  -o-animation: $animation $timer infinite;
}
.ellipsis-animation {
  overflow: hidden; /* Cache le texte supplémentaire */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  width: 15px; /* Largeur de la zone de texte */
}

.ellipsis-animation::after {
  content: "..."; /* Les trois points de suspension */
  display: inline-block;
  width: 0;
  overflow: hidden;
  animation: ellipsis 5s infinite; /* Animation de clignotement */
}

.progress-containerAnimation {
  width: 80%;
  padding: 5px;
  background: #ffffff;
}

.progress-barAnimation {
  width: 0%;
  height: 20px;
  background: linear-gradient(to right, #ee0979, #ff6a00);
}

.hovercursor {
  transition: 250ms ease-out;
  cursor: pointer;
  &:hover {
    transform: scale(0.97);
  }
}
.hovershadow {
  transition: 250ms ease-out;
  &:hover {
    box-shadow: 0px 0px 15px #474747; // #7c7c7c
  }
}

.copy-box {
  position: relative;
  padding-left: 20px;
}
.copy-box .line {
  position: absolute;
  background: #ec1c24;
  box-shadow: 0px 0px 12px #ec1c24;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 22px;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box.two .line {
  border-radius: 0;
  width: 2px;
}
.copy-box.two .line {
  height: 95%;
}
.copy-box .inner {
  padding: 30px;
}