.badge {
  color: #000000;
  width: max-content;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  font-size: 16px;
}
.badge[data-theme="dark"] {
  background-color: #131313;
  color: #ffffff;
}
.badge_System_color {
  color: #ffffff;
  width: max-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ec1c24;
  padding: 3px;
  font-size: 16px;
}
.badgeShop {
  color: #ffffff;
  width: max-content;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  padding: 3px;
  font-size: 16px;
}
.badgeColoring {
  color: #ffffff;
  width: max-content;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  padding: 3px;
  font-size: 16px;
}
.badgeBlue {
  color: #ffffff;
  width: max-content;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #0077ff;
  padding: 3px;
}
.master {
  color: #ffffff;
  width: 100%;
  max-width: 100px;
  border-radius: 50px;
  padding: 3px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}
.admin {
  color: #ffffff;
  width: 100%;
  max-width: 100px;
  border-radius: 50px;
  padding: 3px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #00b09b, #96c93d);
}
.badge_adult {
  background: linear-gradient(to right, #d31027, #ea384d);
  border-radius: 50px;
  color: #ffffff;
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  padding: 3px;
}
.adult {
  text-decoration: none;
  color: #ffffff;
  width: max-content;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #d31027, #ea384d);
  padding: 3px;
}
.AI {
  color: #ffffff;
  width: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #800000;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
.badge_require {
  color: #ffffff;
  background-color: #800000;
  border-radius: 50px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
}
.valide {
  color: #ffffff;
  border-radius: 50px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
  background-color: #00aa00;
}
.standard {
  color: #ffffff;
  width: 100%;
  max-width: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  background-color: green;
  text-decoration: none;
  padding: 3px;
}
.premium {
  color: #ffffff;
  width: 100%;
  max-width: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  background-color: #d18800;
  text-decoration: none;
  padding: 3px;
}
