@import "../../sass/utils/variable";

.input_text {
  color: $text_black;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: none;
  //text-align: center;
  width: 90%;
  background: none;
  //max-width: 500px;
  border: 1px solid gray;
  padding: 5px;
  transition: 200ms;
  &:hover {
    background: #acacac33;
    border: 1px solid #0077ff;
  }
  &:focus {
    border: 1px solid #0077ff;
  }
}
.input_text[data-theme="dark"] {
  color: $text_white;

  &:hover {
    background: #acacac33;
    border: 1px solid #0077ff;
  }
  &:focus {
    border: 1px solid #0077ff;
  }
}
.input_text[data-disable="true"] {
  background: #acacac33;
  border: 1px solid gray;
  &:hover {
    background: #acacac33;
    border: 1px solid gray;
  }
}
.textarea_mess {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 98%;
}
.textarea_mess[data-theme="dark"] {
  background-color: #333333;
}
