.toggle-rect input[type="checkbox"] {
  display: none;
}
.toggle-rect input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 2.7em;
  height: 1.2em;
  margin-bottom: 20px;
  border-radius: 0.1em;
  border-radius: 50px;
  //background: #ff7d7dcc;
  border: 1px solid #6e6e6e;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.toggle-rect input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background: #6e6e6e;
  position: absolute;
  left: 0.1em;
  top: 0.1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.toggle-rect input[type="checkbox"]:checked + label {
  border: 1px solid #ec1c24;
}
.toggle-rect input[type="checkbox"]:checked + label:before {
  left: 1.6em;
  background: #ec1c24;
}



  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 2px solid gray;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #ec1c24;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 3px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #ec1c24;
  }

  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #ec1c24;
    border-color: #ec1c24;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  .checkbox-wrapper-46Radio input[type="radio"] {
    display: none;
    visibility: hidden;
  }
  .checkbox-wrapper-46Radio{
    display: flex;
    align-items: center;
  }
  .checkbox-wrapper-46Radio .cbxRadio {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .checkbox-wrapper-46Radio .cbxRadio span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46Radio .cbxRadio span:first-child {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    transform: scale(1);
    vertical-align: middle;
    margin-bottom: -3px;
    border: 2px solid gray;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46Radio .cbxRadio span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #ec1c24;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 100%;
  }
  .checkbox-wrapper-46Radio .cbxRadio:hover span:first-child {
    border-color: #ec1c24;
  }

  .checkbox-wrapper-46Radio .inp-cbxRadio:checked + .cbxRadio span:first-child {
    background: #ec1c24;
    border-color: #ec1c24;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46Radio .inp-cbxRadio:checked + .cbxRadio span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }