@import "../utils/variable";

.tagsManage {
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    text-decoration: line-through;
    color: red;
    cursor: pointer;
  }
}
.button {
  border-radius: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  transition: 500ms;
  background-color: $button_light_circle;
  color: rgb(0, 0, 0);
  &:hover {
    background-color: $button_light_circle_hover;
  }
}
.button[data-theme="dark"] {
  background: $button_black_circle;
  color: white;
  &:hover {
    background-color: $button_black_circle_hover;
  }
}
.faXmark {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  padding: 2px;
  color: grey;
  &:hover {
    background: rgb(216, 216, 216);
  }
}
.faXmark[data-theme="dark"] {
  &:hover {
    background: rgb(75, 75, 75);
  }
}
.linkHover {
  color: grey;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #396afc;
  }
}
.button_option_container {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
}
.button_option_container[data-theme="dark"] {
  color: $text_white;
  border-radius: 5px;
  overflow: hidden;
}
.button_option_container_free {
  color: $text_black;
  background-color: $background_light;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
}
.button_option_container_free[data-theme="dark"] {
  color: $text_black;
  background-color: $background_semi_black;
}
.button_option {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: 500ms;
  width: 100%;
  color: $text_black;
  &:hover {
    background-color: $button_light_circle_hover;
  }
}
.button_option-content{
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.button_option-content-text{
  width: 80%;
}
.button_option[data-theme="dark"] {
  color: $text_white;
  &:hover {
    opacity: 0.6;
  }
}
.button_option.active {
  transition: 100ms;
  color: $text_white;
  cursor: pointer;
  background-color: rgb(117, 117, 117);
}
.button_option_work.active {
  transition: 100ms;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: white;
}
.button_option_work[data-theme="dark"].active {
  transition: 100ms;
  color: $text_white;
  cursor: pointer;
  background-color: $background_semi_black;
}
.button_option_free {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: $text_black;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #e0e0e0, #f0f0f0);
  &:hover {
    opacity: 0.6;
  }
}
.button_option_free[data-theme="dark"] {
  color: $text_white;
  background: linear-gradient(to right, #232526, #414345);
  &:hover {
    opacity: 0.6;
  }
}
.button_option_free.active {
  transition: 100ms;
  color: $text_black;
  cursor: pointer;
  background-color: #fab4b4;
}
.button_option_free[data-theme="dark"].active {
  transition: 100ms;
  color: $text_white;
  cursor: pointer;
  background-color: rgb(44, 44, 44);
}
.button_optionBlue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #396afc, #2948ff);
  &:hover {
    opacity: 0.6;
  }
}
.button_optionPurple {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  &:hover {
    opacity: 0.6;
  }
}
.button_optionDimigo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #ec008c, #fc6767);
  &:hover {
    opacity: 0.6;
  }
}
.button_optionPic_v {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  height: 30px;
  width: 100%;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  background: #ec1c24; //#ec1c24
  &:hover {
    opacity: 0.6;
  }
}
.button_optionDisable {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  width: 100%;
  height: 30px;
  text-decoration: none;
  background: #8b8b8b;
  color: $text_white;
  cursor: default;
  transition: 500ms;
}
.button_optionRed {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  //background: linear-gradient(to right, #d64737, #c01704);
  background: linear-gradient(to right, #f52222, #e2352c);
  &:hover {
    opacity: 0.6;
  }
}
.button_optionHeart {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #d31027, #ea384d);
  &:hover {
    opacity: 0.6;
  }
}
.button_optionGreen {
  display: flex;
  justify-content: center;
  align-items: center;
  //transition: 200ms;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #00b09b, #96c93d);
  &:hover {
    opacity: 0.6;
  }
}
.buttonCirclePurple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  &:hover {
    opacity: 0.6;
  }
}
.button_optionColoring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  &:hover {
    opacity: 0.6;
  }
}
.button_optionColoringPurple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #ff00cc, #333399);
  &:hover {
    opacity: 0.6;
  }
}
.button_optionColoringBlue {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: $text_white;
  cursor: pointer;
  transition: 500ms;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  &:hover {
    opacity: 0.6;
  }
}
.buttonCircle_workPlace {
  color: $text_white;
  font-size: 35px;
  cursor: pointer;
  &:hover {
    color: $tertiary;
  }
}

.buttonCircle {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
  height: 23px;
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  //background: linear-gradient(to right, #ece9e6, #ffffff);
  border: 1px solid rgb(0, 0, 0);
  color: $text_black;
  transition: 500ms;
  &:hover {
    opacity: 0.6;
  }
}
.buttonCircle[data-theme="dark"] {
  border: 1px solid rgb(255, 255, 255);
  color: $text_white;
  &:hover {
    opacity: 0.6;
  }
}
.buttonCircle.active{
  background: #ec1c24;
  border: 1px solid transparent;
  color: #ffffff;
  //color: #131313;
}
.buttonCircleColoring {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  color: rgb(255, 255, 255);
  transition: 500ms;
  &:hover {
    opacity: 0.6;
  }
}
.buttonCircleGreen {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  background: linear-gradient(to right, #00b09b, #96c93d);
  color: rgb(255, 255, 255);
  transition: 500ms;
  &:hover {
    opacity: 0.6;
  }
}
.buttonCircleBlue {
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100%;
  background: linear-gradient(to right, #396afc, #2948ff);
  color: $text_white;
  transition: 500ms;
  &:hover {
    opacity: 0.6;
  }
}
.buttonCircleColoringBlue {
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100%;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  color: $text_white;
  transition: 500ms;
  &:hover {
    opacity: 0.6;
  }
}
.buttonCircleDisable {
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: default;
  border-radius: 100%;
  background: #8b8b8b;
  color: $text_white;
}

.buttonCircleRed {
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100%;
  background: linear-gradient(to right, #f00000, #dc281e);
  color: $text_white;
  transition: 500ms;
  &:hover {
    opacity: 0.6;
  }
}
.buttonCircleDarkBlue {
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100%;
  background: #403eb6;
  color: $text_white;
  transition: 500ms;
  &:hover {
    background-color: rgba(48, 49, 122, 0.6);
  }
}
.container_interest {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  max-width: 200px;
  border-radius: 200px;
  margin: 5px;
}

.image_interest {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.overlay_interest {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container_interest .overlay_interest {
  transition: 500ms;
  &:hover {
    background-color: #00000073;
  }
}
.mobileHidden {
  display: none;
}
.PcHidden {
  display: flex;
}

@media all and (max-width: 980px) {
  .button_optionMobile {
    width: 100%;
    max-width: 100%;
  }
  .mobileHidden {
    z-index: 20000;
    display: flex;
  }
  .PcHidden {
    display: none;
  }
  .buttonCircle {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    height: 25px;
    width: 25px;
  }
  .buttonCircleRed {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    height: 25px;
    width: 25px;
  }
  .buttonCircleDarkBlue {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    height: 25px;
    width: 25px;
  }
  .buttonCircleBlue {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    height: 25px;
    width: 25px;
  }
}
.btnPremium {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background: #7e6504;
  transition: 300ms;
  color: #cfc09f;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  &:hover {
    background: #332901;
  }
}
.btnPremium.active {
  background: #332901;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 30px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  animation: anime 8s linear infinite;
  transition: 300ms;
  //color: #2825b6;
  &:hover {
    opacity: 0.6;
  }
}
.btn.active {
  filter: contrast(200%);
  &:hover {
    opacity: 1;
  }
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.keyborad {
  font-size: 18px;
}
