@import "../utils/variable";
@import "../components/button.scss";

.container_banner_navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  z-index: 20000;
  transition: 200ms ease-in-out;
  top: 0px;
  background-color: white;
}
.container_banner_navbar[data-theme="dark"] {
  background-color: $background_semi_black;
}
.container_banner_navbar.active {
  top: -50px;
}
.banner_navbar {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  z-index: 1000;
  padding-top: 5px;
  padding-bottom: 5px;
}
.content_banner_navbar {
  display: flex;
  justify-content: start;
  align-items: center;
}
.blanket {
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: #0000004f;
  z-index: 900;
  top: 0px;
  //padding-top: 50px;
}
.blanket_nav {
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(1px);
  background-color: #0000004f;
  z-index: 900;
  top: 0px;
  padding-top: 50px;
}
.blanket_opacte {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 900;
  top: 0px;
}
.blanket_opacte[data-theme="dark"] {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(5, 5, 5);
  z-index: 900;
  top: 0px;
}
.nav_fixed {
  transition: 200ms ease-in-out;
  top: 0px;
}
.nav_fixed.active {
  top: 50px;
}
.Profile_picture_nav {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.menu_navbar {
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  font-size: 16px;
  margin-top: 10px;
  flex-direction: column;
  max-width: 500px;
  color: $text_black;
  background-color: white;
}
.menu_navbar[data-theme="dark"] {
  color: $text_white;
  background-color: $background_semi_black;
}
.notif {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 89%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  color: $text_black;
  &:hover {
    background-color: $button_light_circle_hover;
  }
}
.notif[data-theme="dark"] {
  color: $text_white;
  &:hover {
    background-color: $button_black_circle_hover;
  }
}
.container_mess_nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $navbar_light;
  padding: 10px;
  width: 98%;
  margin-bottom: 30px;
  border-radius: 15px;
  &:hover {
    background: #cfcfcf;
  }
}
.container_mess_nav[data-theme="default"] {
  background: $navbar_light;
  &:hover {
    background: #cfcfcf;
  }
}
.container_mess_nav[data-theme="dark"] {
  background: $navbar;
  &:hover {
    background: #131313;
  }
}
.message_nav {
  color: #000000;
  background-color: #dfdfdf;
  border-radius: 10px;
}
.message_nav[data-theme="default"] {
  color: #000000;
  background: #dfdfdf;
}
.message_nav[data-theme="dark"] {
  color: #fff;
  background: #333333;
}
.message_nav > p {
  margin: 0px;
}

.article_nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000000;
  background: white;
}
.article_nav[data-theme="dark"] {
  color: #fff;
  background: $background_semi_black;
}
.menu_navbar_navPc {
  z-index: 100;
  align-self: flex-end;
  height: 80vh;
}
.input_text_navPc {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
}
.button_optionNavPc {
  display: none;
}
.button_works_container {
  background-color: $navbar_light;
}
.button_works_container[data-theme="dark"] {
  background-color: $background_semi_black;
}
.nav_bar_scnd {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding-bottom: 10px;
  color: #000000;
  background: #ffffff;
}
.nav_bar_scnd[data-theme="dark"] {
  color: #fff;
  background: #0c0c0c;
}
.container_input_text_nav {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}
.hiddenMax {
  display: none;
}
.hidden980 {
  display: initial;
}
@media all and (max-width: 980px) {
  .hidden980 {
    display: none;
  }
  .hiddenMax {
    display: initial;
  }
  .Profile_picture_nav {
    width: 35px;
    height: 35px;
  }
  .menu_navbar_nav980 {
    align-self: center;
  }
}
