@import "../utils/variable";
@import "../components/button.scss";

.sideNav{
    height: 100%;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    background:  white;
    overflow: auto;
}
.sideNav[data-theme="dark"]{
    background-color: $background_semi_black;
}
.sideNavContent{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}